# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# AWS Credentials (DO NOT COMMIT SECRETS)
aws_credentials

# Ignore editor/OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
